<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwl.lanya.dao.LableInfoMapper">
  <resultMap id="BaseResultMap" type="com.nwl.lanya.po.LableInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="lable_name" jdbcType="VARCHAR" property="lableName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lable_name
  </sql>
  <select id="selectByExample" parameterType="com.nwl.lanya.po.LableInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lable_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lable_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from lable_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.nwl.lanya.po.LableInfoExample">
    delete from lable_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nwl.lanya.po.LableInfo">
    insert into lable_info (id, lable_name)
    values (#{id,jdbcType=VARCHAR}, #{lableName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nwl.lanya.po.LableInfo">
    insert into lable_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lableName != null">
        lable_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lableName != null">
        #{lableName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nwl.lanya.po.LableInfoExample" resultType="java.lang.Long">
    select count(*) from lable_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lable_info
    <set>
      
      <if test="record.lableName != null">
        lable_name = #{record.lableName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lable_info
    set id = #{record.id,jdbcType=VARCHAR},
      lable_name = #{record.lableName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nwl.lanya.po.LableInfo">
    update lable_info
    <set>
      <if test="lableName != null">
        lable_name = #{lableName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nwl.lanya.po.LableInfo">
    update lable_info
    set lable_name = #{lableName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
   <!-- 分页获取账户数据 -->
  <select id="list" parameterType="com.nwl.lanya.dto.LableInfoDto" resultMap="BaseResultMap">
      select
	  <include refid="Base_Column_List" />
	  from lable_info  
	  <where>
	  		<if test="columnName!=null">
	  			and ${columnName} like concat(concat('%',#{columnValue}),'%')
	  		</if>
	  </where>
      order by id desc
      limit #{pageModel.startIndex},#{pageModel.pageSize}
  </select>
  
  <!-- 获取数据总数 -->
  <select id="countByList" parameterType="com.nwl.lanya.dto.LableInfoDto" resultType="java.lang.Long">
      select count(*)
      from lable_info
       <where>
	  		<if  test="columnName!=null">
	  			and ${columnName} like concat(concat('%',#{columnValue}),'%')
	  		</if>
	  </where>
  </select>
  
</mapper>